html {
  font-family: Roboto, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

/** Header **/
header {
  background-color: #1F2937;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.navbar, .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 60px;
}

.navbar .logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.navbar .menu {
  display: flex;
  gap: 12px;
}

.navbar .menu a {
  text-decoration: none;
  color: white;
}

.hero .hero-content {
  max-width: 400px;
}

.hero .hero-content p {
  font-size: 18px;
  color: #E5E7EB;
}

.hero .hero-content button {
  padding: 6px;
  font-size: 16px;
}

.hero img {
  max-width: 45%;
}

/** Main **/
main {
  padding: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cards .card {
  max-width: 400px;
  border: 1px solid;
}

.cards .card .card-content {
  padding: 8px;
}

.cards .card .card-image {
  text-align: center;
  border-bottom: 1px solid;
}

.cards .card .card-image img {
  max-height: 200px;
}

.banner {
  display: flex;
  align-items: center;
  background: linear-gradient(85.12deg, rgba(185, 185, 241, 0.2) 0%, rgba(84, 132, 234, 0.2) 56.29%, rgba(58, 142, 137, 0.2) 99.99%);
  padding: 0 50px 0;
  max-width: 85%;
  margin: auto;
  margin-top: 50px;
}

.banner-image img {
  max-width: 450px;
}

/** Footer **/
footer {
  background-color: #1F2937;
  color: white;
  padding: 30px;
}

